<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.cloudwalker.launcher"
    android:sharedUserId="android.uid.system">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".CloudwalkerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="tv.cloudwalker.launcher.CloudwalkerAppGlideModule"
            android:value="AppGlideModule" />

        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomDetailStyle" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/CustomBrowseStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.COMMON_HOME" />
            </intent-filter>
        </activity>

        <receiver
            android:name="fragment.MainFragment$RefreshBR"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="tv.cloudwalker.launcher.REFRESH" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CloudwalkerApplication$AnalyticsBr">
            <intent-filter>
                <action android:name="tv.cloudwalker.profile.action.SET" />
                <action android:name="tv.cloudwalker.cde.action.OPEN" />
                <action android:name="tv.cloudwalker.cde.action.SEARCH" />
                <action android:name="tv.cloudwalker.cde.action.CLICKED" />
                <action android:name="tv.cloudwalker.apps.action.APP_OPEN" />
                <action android:name="tv.cloudwalker.apps.action.OPEN" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CloudwalkerApplication$AppOprationBr">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_UNINSTALL" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>